{%load static%}
{%load space%}
<!DOCTYPE html>
<html lang="cz">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/header.css'%}">
    <link rel="stylesheet" href="{%static 'css/cart.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="{% static 'css/listings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/category-listings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{%static 'css/footer.css'%}">
    <link rel="icon" type="image/png" href="{% static 'img/logo2.svg' %}">
    <link rel="stylesheet" href="/static/img/bootstrap-icons-1.10.1/bootstrap-icons.css">
    <script src="/static/js/bootstrap.min.js"></script>    

    <title>Košík | FAJN Nábytek</title>
</head>
<body>
    <header>
        {%include 'partials/header.html'%}
    </header>

    <div class="cart-body">
        <div class="cart-info">
            <div class="cart-card">
                <div class="cart-img"><img src="/media/Ložnice/Postele/čalouněné/sabrina1.jpg"></div>
                <div class="cart-product">
                    <div class="product-text">
                        <h5>Název produktu</h5>
                        <p class="stock">Datum dodání: do 5 týdnů</p>
                    </div>
                    <div class="product-counter">
                        <span><button class="count">-</button></span>
                        <p>1</p>
                        <span><button class="count">+</button></span>
                    </div>
                    <div class="product-price">
                        <h5>29.990,- Kč</h5>
                        <span><button><i class="bi bi-x"></i></button></span>
                    </div>
                </div>
            </div>
            <div class="cart-card">
                <div class="cart-img"><img src="/media/Ložnice/Postele/čalouněné/sabrina1.jpg"></div>
                <div class="cart-product">
                    <div class="product-text">
                        <h5>Název produktu</h5>
                        <p class="stock">Datum dodání: do 5 týdnů</p>
                    </div>
                    <div class="product-counter">
                        <span><button class="count">-</button></span>
                        <p>1</p>
                        <span><button class="count">+</button></span>
                    </div>
                    <div class="product-price">
                        <h5>29.990,- Kč</h5>
                        <span><button><i class="bi bi-x"></i></button></span>
                    </div>
                </div>
            </div>
            <div class="cart-card">
                <div class="cart-img"><img src="/media/Ložnice/Postele/čalouněné/sabrina1.jpg"></div>
                <div class="cart-product">
                    <div class="product-text">
                        <h5>Název produktu</h5>
                        <p class="stock">Datum dodání: do 5 týdnů</p>
                    </div>
                    <div class="product-counter">
                        <span><button class="count">-</button></span>
                        <p>1</p>
                        <span><button class="count">+</button></span>
                    </div>
                    <div class="product-price">
                        <h5>29.990,- Kč</h5>
                        <span><button><i class="bi bi-x"></i></button></span>
                    </div>
                </div>
            </div>
            <div class="cart-card">
                <div class="cart-img"><img src="/media/Ložnice/Postele/čalouněné/sabrina1.jpg"></div>
                <div class="cart-product">
                    <div class="product-text">
                        <h5>Název produktu</h5>
                        <p class="stock">Datum dodání: do 5 týdnů</p>
                    </div>
                    <div class="product-counter">
                        <span><button class="count">-</button></span>
                        <p>1</p>
                        <span><button class="count">+</button></span>
                    </div>
                    <div class="product-price">
                        <h5>29.990,- Kč</h5>
                        <span><button><i class="bi bi-x"></i></button></span>
                    </div>
                </div>
            </div>
            <div class="cart-card">
                <div class="cart-img"><img src="/media/Ložnice/Postele/čalouněné/sabrina1.jpg"></div>
                <div class="cart-product">
                    <div class="product-text">
                        <h5>Název produktu</h5>
                        <p class="stock">Datum dodání: do 5 týdnů</p>
                    </div>
                    <div class="product-counter">
                        <span><button class="count">-</button></span>
                        <p>1</p>
                        <span><button class="count">+</button></span>
                    </div>
                    <div class="product-price">
                        <h5>29.990,- Kč</h5>
                        <span><button><i class="bi bi-x"></i></button></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-count">

        </div>
    </div>
    <footer>
        {%include 'partials/footer.html'%}
    </footer>
</body>