<div class="head">
        <div class="row">
          <div class="column">
              <div class="info_div">
              <p class="mailtab">info@fajn-nabytek.cz</p>
              <p class="phonetab">+420 722 043 077</p>
              </div>
            </div>
            <div class="column">
              <div class="headimg">
                <img src="images/logos/Fajn_logo_B&W_web.svg" href="#" width=80 height=60 >
              </div>
            </div>
            <div class="column">
              <div class="searchbar_div">
                <input type="text" placeholder="Hledat..">
              </div>
            </div>
        </div>
          </div>
<!-- Navbar container-->
<nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav">
        <!-- Dropdown menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Sedací soupravy
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Sedací soupravy rohové</a>
            <a class="dropdown-item" href="#">Sedací soupravy do U</a>
            <a class="dropdown-item" href="#">Pohovky</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Kuchyně
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Kuchyně rohové</a>
            <a class="dropdown-item" href="#">Kuchyně rovné</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Ložnice
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Postele čalouněné</a>
            <a class="dropdown-item" href="#">Válendy</a>
            <a class="dropdown-item" href="#">Skříně</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Obývací pokoje
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Obývací stěny</a>
          </div>
        </li>
      </ul>
</nav>