/* Head columns CSS */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: 'Rubik', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

header {
    background-color: #DD4040;
}

.tabs {
    display: flex;
    justify-content: center;
}

.column {
    width: 33.3%;
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 0.8rem;
    color: white;
    padding: 0px 15px 0px 15px;
}


@media screen and (max-width: 864px) {
    .column {
        width: 100%;
        text-align: center;
     }
    }

.info_div {
    display: flex;
    padding: 0px 50px 0px 50px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1.2px;
    padding-bottom: 5px;
    padding-left: 50px;
    color: white;
}

.info_div span {
    padding-left: 50px;
}

.info_div span a {
    color: white;
    text-decoration: none;
    text-align: center;
    
}

.info_div span a:hover {
    color: black;
}

.info_div span i {
    padding-right: 10px;
}

.mailtab {
    padding-right: 100px;
}

.head input[type=text] {
    padding: 6px 100px 6px 6px;
    border: none;
    margin-top: 15px;
    margin-right: 15px;
}

.head:after {
    content: "";
    display: table;
    clear: both;
}

.navbar .megamenu{ padding: 1rem; }

    /* ============ desktop view ============ */
@media all and (min-width: 992px) {
    
.navbar .has-megamenu{position:static!important;}
.navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }
    }	
    /* ============ desktop view .end// ============ */
    
    /* ============ mobile view ============ */
    @media(max-width: 991px){
      .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
        overflow-y: auto;
          max-height: 90vh;
          margin-top:10px;
      }
    }

.navbar {
    margin-bottom: 100px;
}

.navbar-nav a {
    color: white;
    outline: none !important;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

.navbar-nav a:hover {
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: flex;
    margin-top: 0;
    align-items: center;
    justify-content: space-evenly;
}

.megamenu-card a {
    color: black;
    text-decoration: none;
}  

.megamenu-card a:hover {
    color: #DD4040;
}  

.header-category-card {
    width: 100%;
    display: flex;
}

.header-category-card-small {
    margin-left: 10px;
}

.header-category-card-p {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    font-size: 0.8rem;
}

.header-category-card-p a {
    margin-left: 5px;
    margin-right: 5px;
}

.megamenu-card {
    display: flex;
    justify-items: auto;
}