.cat-body {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 64vh;  
}

.category-header-columns {
    padding-bottom: 20px;
    text-align: center;
    display: flex;
}

.category-title {
    width: 40%;
}

.category-sec-title {
    width: 60%;
}

.filters-column {
    width: 14%;
    float: left;
    text-align: center;
    border: solid 1px;
    margin-top: 50px;
}
.product-listings {
    width: 85%;
    float: right;
    padding-left: 0px;
    padding-top: 50px;
}