{%load static%}
<!DOCTYPE html>
<html lang="cz">


<head>
    {%if listings%}
    {%for listing in listings%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/header.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="{% static 'css/listings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/category-listings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/logo2.svg' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap"
        rel="stylesheet">

    <title>{{listing.objekt}}</title>
    {%endfor%}
    {%endif%}
</head>
<header>
    {%include 'partials/header.html'%}
</header>

<body>
    {%if listings%}
    {%for listing in listings%}
    {% if forloop.revcounter < 2 %} 
    <div class="cat-body">
        <div class="category-header">
            <div class="category-header-columns">
                <div class="category-title">
                    <h1>{{listing.objekt}}</h1>
                </div>
                <div class="category-sec-title">
                    Postel je základním kamenem každé ložnice. Pohodlnost a komfort jsou podstatné, ale neméně důležitý
                    je elegantní design. Velká ložná plocha zvyšuje pohodlí, vysoké nožky zase umožní snadný úklid.
                </div>
            </div>
            <div class="cat-links">
                <div class="card w-75">
                    <div class="card-body">
                      <h5 class="card-title">%Category%</h5>
                      <a href="#" class="btn btn-primary">Zobrazit</a>
                    </div>
                  </div>
            </div>
        </div>
        {%endif%}
        {%endfor%}
        {%endif%}
        <div class="filters-column">
            <div>
                <h2>Filtry</h2>
            </div>
        </div>


        <div class="product-listings">
            {%if listings%}
            {%for listing in listings%}
            {%include 'container.html'%}
            {%endfor%}
            {%endif%}
        </div>
        </div>
</body>


</html>