{%load static%}

<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">

    <title>Product Container</title>

</head>

<body>
{%if listings%}
    {%for listing in listings%}

    <div class="product-container">
        <div class="card">
            <div class="imgBx">
                
                <img src="{{ listing.pic.url }}" alt="postel-sabrina">
            </div>

            <div class="contentBx">

                <h2>{{ listing.description }}</h2>

                <div class="sklad">
                    <h3>Dostupnost: </h3>
                    <h3 class="sklad-dyn">{{ listing.dostupnost }}</h3>
                </div>

                <div class="price">
                    <h3>Cena: </h3>
                    <h3 class="price-num">{{ listing.cena}} Kč</h3>
                </div>
                <a href="#">Zobrazit</a>
            </div>

        </div>
    </div>



</body>
{%endfor%}
{%endif%}
</html>